
*~
*$py.class
# Benchmarks
benchmarks/results/*.csv
benchmarks/results/*.json
benchmarks/results/*.png
build/
.cache/
.coverage
*.csv
data/
# Data
# Database files
datasets/
*.db
develop-eggs/
dist/
downloads/
.DS_Store
*.egg
*.egg-info/
eggs/
env/
ENV/
htmlcov/
.hypothesis/
.idea/
# IDEs
.installed.cfg
*.ipynb
.ipynb_checkpoints/
*.json
# Jupyter
lib/
lib64/
*.lmdb
*.lmdb-lock
*.log
logs/
# Logs
MANIFEST
# Model cache
models/
# OS
parts/
*.pickle
*.pkl
__pycache__/
*.py[cod]
.pytest_cache/
# Python
!requirements.txt
*.rocksdb/
sdist/
*.so
*.sqlite
*.swo
*.swp
temp/
# Temporary
# Testing
Thumbs.db
tmp/
.tox/
*.txt
var/
venv/
# Virtual Environment
.vscode/
wheels/
